*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: lime;
  overflow: hidden;
}

.divny{
  display: inline-flex;
}

.system{
  animation: none;
  margin-right: 84vw;
  width: auto;
  font-family: monospace;
  font-size: 2em;
  display: inline-block;
  border: none;
}

.typing-demo {
    animation: typing 3s steps(30);
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
    display: inline-block;
    margin-left: -83.75vw; 
}

.inputText, .inputText:focus{
  margin-left: -83.75vw; 
  font-family: monospace;
  font-size: 2em;
  border: none;
  width: auto;
  outline: 0px solid white;
}

#typeAnimation{
  animation:typing 3s steps(30), blink step-end .5s infinite alternate;
  border-right: 1px solid;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent;
    }
}


